---
layout: app.njk
title: Wolium | Leaderboard
pageId: leaderboard
permalink: /leaderboard/
---

<h1 class="h1">Leaderboard</h1>

<article class="card section">
  <div class="kv">
    <div class="k">1</div>
    <div class="v">User_One <span class="v muted" style="margin-left:10px">9999</span></div>
    <div class="k">2</div>
    <div class="v">User_Two <span class="v muted" style="margin-left:10px">8420</span></div>
    <div class="k">3</div>
    <div class="v">User_Three <span class="v muted" style="margin-left:10px">7900</span></div>
  </div>
</article>
