---
layout: app.njk
title: Profile
description: View and manage your user profile including avatar, statistics, and commands executed.
pageId: profile
permalink: /profile/
noindex: true
---
{% import "partials/profileCard.njk" as profileCard %}

<h1 class="h1" data-i18n="page.title.profile">Profile</h1>

{{ profileCard.renderProfileCard(true, null) }}