---
layout: app.njk
title: Servers
description: Discover and manage all your servers with ease on Wolium. Connect to your virtual machines, monitor performance, and control settings from a single dashboard.
pageId: servers
permalink: /servers/
noindex: true
---

<h1 class="h1" data-i18n="page.title.servers">Servers</h1>

<article class="card section">
  <h2 class="section-title" style="font-size:22px;margin:0 0 12px" data-i18n="server.choosed">Choosed Server</h2>
  <div class="kv">
    <div class="k" data-i18n="server.label">Server:</div>
    <div class="v" id="chosenServerText" data-i18n="server.choosed.none">didnt choosed</div>
  </div>
</article>

<article class="card section">
  <h2 class="section-title" style="font-size:22px;margin:0 0 12px" data-i18n="page.title.settings">Settings</h2>

  <div class="kv" style="gap:10px">
    <label class="k" for="srvTitle" data-i18n="name">Name</label>
    <input class="input" id="srvTitle" placeholder="Example: AstroCommunity" data-i18n-attr="placeholder: server.placeholder" />

    <button class="nav__item" id="btnSaveServer" type="button" style="text-align:center" data-i18n="save">Save</button>
  </div>
</article>
