---
layout: app.njk
title: Wolium | Settings
pageId: settings
permalink: /settings/
noindex: true
---

<h1 class="h1" data-i18n="settings">Settings</h1>

<article class="card section">
  <div class="kv" style="gap:10px">
    <label class="k" for="lang" data-i18n="language">Language</label>
    <select class="input" id="lang" data-lang-select>
      {% for code in i18n_locales %}
        <option value="{{ code }}">{{ code }}</option>
      {% endfor %}
    </select>

    <span class="k" data-i18n="cookie">Cookies</span>
    <label class="input">
      <input type="checkbox" id="cookie-consent" data-i18n="cookie.details">I accept the use of cookies
    </label>
  </div>
</article>
