---
layout: app.njk
title: Wolium | Settings
pageId: settings
permalink: /settings/
---

<h1 class="h1">Settings</h1>

<article class="card section">
  <div class="kv" style="gap:10px">
    <label class="k" for="lang">Language</label>
    <select class="input" id="lang">
      <option>en</option>
      <option>ru</option>
    </select>

    <label class="k" for="theme">Theme</label>
    <select class="input" id="theme">
      <option>Dark</option>
    </select>
  </div>
</article>
