<div class="gate" id="authGate" hidden>
  <div class="gate__stack">
    <div class="gate__card">
      <svg class="gate__logo">
        <use href="#wolium"></use>
      </svg>
      <div class="gate__title" data-i18n="gate.title">Wolium Dashboard</div>
      <div class="gate__text" data-i18n="gate.text">Log in to continue.</div>
      <button class="btn btn--primary" id="btnLoginCenter" type="button" data-i18n="login">
        Log In with Discord
      </button>
    </div>
    
    <div class="gate__links"  style="justify-items: center;">
      <div class="links links--gate">
        <a href="/terms-of-service/" class="link" data-i18n="tos">ToS</a>
        <a href="/privacy-policy/" class="link" data-i18n="privacy">Privacy</a>
        <a href="/rules/" class="link" data-i18n="rules">Rules</a>
      </div>
    </div>
  </div>
</div>
