<div class="gate" id="authGate" hidden>
  <div class="gate__stack">
    <div class="gate__card">
      <svg class="gate__logo">
        <use href="#wolium-animate"></use>
      </svg>
      <div class="brand__name" data-i18n="gate.title">Wolium™ Dashboard</div>
      <div class="text-muted" data-i18n="gate.text">Log in to continue.</div>
      <button class="btn btn--primary brand__name" id="btnLoginCenter" type="button" data-i18n="login">Log In with Discord</button>
    </div>
    
    <div class="gate__links"  style="justify-items: center;">
      <div class="links links--gate">
        <a href="/terms-of-service/" class="link" data-i18n="page.title.tos">ToS</a>
        <a href="/privacy-policy/" class="link" data-i18n="page.title.privacy">Privacy</a>
        <a href="/rules/" class="link" data-i18n="page.title.rules">Rules</a>
      </div>
    </div>
  </div>
</div>
