<aside class="sidebar" id="sidebar">
  <div class="brand">
    <a href="/" style="display:flex; align-items:center; gap:8px; color:inherit;">
      <svg class="logo" style="flex-shrink:0;" aria-hidden="true">
        <use href="#wolium-animate"></use>
      </svg>
      <span class="brand__name" style="color:inherit;">Wolium</span>
    </a>

    <div class="spacer"></div>

    <button class="icon-btn mobile-only" id="btnClose" type="button" aria-label="Close" data-i18n-attr="aria-label: common.close">
      <svg class="icon" aria-hidden="true">
        <use href="#close"></use>
      </svg>
    </button>
  </div>

  <nav class="nav">

    <a class="nav__item" data-nav="profile" href="/profile/">
      <svg class="icon side">
        <use href="#profile"></use>
      </svg>
      <span data-i18n="profile">Profile</span>
    </a>

    <a class="nav__item" data-nav="server-edit" href="/servers/edit/">
      <svg class="icon side">
        <use href="#servers-editor"></use>
      </svg>
      <span data-i18n="server.edit">Servers Editor</span>
    </a>

    <a class="nav__item" data-nav="leaderboard" href="/leaderboard/">
      <svg class="icon side">
        <use href="#leaderboard"></use>
      </svg>
      <span data-i18n="leaderboard">Leaderboard</span>
    </a>

    <a class="nav__item" data-nav="news" href="/news/">
      <svg class="icon side">
        <use href="#news"></use>
      </svg>
      <span data-i18n="news">News</span>
    </a>

    <a class="nav__item" data-nav="settings" href="/settings/">
      <svg class="icon side">
        <use href="#settings"></use>
      </svg>
      <span data-i18n="settings">Settings</span>
    </a>

  </nav>

  <div class="sidebar__bottom">
    <div class="links">
      <a href="/terms-of-service/" class="link" data-i18n="tos">ToS</a>
      <a href="/privacy-policy/" class="link" data-i18n="privacy">Privacy</a>
      <a href="/rules/" class="link" data-i18n="rules">Rules</a>
    </div>
  </div>
</aside>
